:root
{
  --color1:#81c8c2;
  --color2:#414141;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  ul
  {
    list-style: none;
    display: flex;
    padding: 0;
  }
  a
  {
    text-decoration: none;
  }
  *
  {
    box-sizing: border-box;
    margin: 0;
  }

